
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #333333;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}


/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top:2%;
    background-color: #005c99;
    color: #ffffff;
    border-radius: 20px;
    min-height:500px ;
}

.body-content a{
    color: #ff6a00;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    
    }
   
}
h2, h3, h4{
    font-weight:600;
}
.navbar {
    background-color: #003f68;
    color: #ffffff;
}

.entryform {
    background-color: #333333;
}

.formfields {
    display: block;
    width: 100%;
}

legend {
    font-family: Roboto, Helvetica, Arial, Sans-serif;
    color: #ffffff;
}

fieldset {
    
    padding: 5% 10% 5% 10%;

}
input {
    
    width: 40%;
    margin-left:5%;
    color:#000000;
    text-align: left;
    float:right;
}

label {
    width:80%;
    margin-left: 10%;
    margin-right: 10%;
    text-align:right;
}

.button{
    color: #000000;
    display:block;
    padding:initial;
    width:30%;
    margin:5% 10% 0% 10%;
    text-align: center;
}
.remove-button {
    color: #000000;
    display: block;
    width: 30%;
    text-align: center;
}
.body-article {
    background-color: #0671b9;
    padding: 5%;
    border-radius: 10px;
}
#user-data{
    padding: 5%;
    border-radius: 10px;
    background-color: #0671b9;
}