@{

}
<h2>Support Information</h2>

<div class="body-content">
    <h3>Please use the following information for assistance.</h3>
    <hr />
    <img src="~/images/creator.png" />
    <address>
        <strong>Author:</strong> Ian Summers<br />
        <strong>Email:</strong> <a href="mailto:email.goes@here.com">email.goes@here.com</a><br />
        <strong>Phone:</strong> phone number<br />
    </address>

    <address>
        Street Address<br />
        City, StaTe, Zip<br />
        <abbr title="Phone">P:</abbr>
        Phone Number
    </address>
</div>
