@{
    ViewData["Title"] = "About This Tool";
}

<h2>DevOps Database Refresh Tool</h2>
<h3>Codename: "Hammond"</h3>

<div class="body-content">

    <!-- <div class="body-article"> -->

    <h3>About This Tool</h3>
    <hr />
    <h4>Notice</h4>

    <p>Access to this site is protected by security group.  This site is intended for authorized personnel only.  If you are not authorized to view this page, you are in violation of company policy and will be subject to disciplinary action.</p>


    <h4>Clone Job Refreshes: On-Demand!</h4>

    <p>
        Use the link above to launch the form that will prompt you for the information necessary to refresh a clone database on-demand.  You will need to provide:

        <ul>

            <li>Dataset</li>

            <li>Destination Server</li>

            <li>Source DC (if the dataset is Satellite)</li>

            <li>Your name</li>

            <li>The reason for the refresh</li>

        </ul>

    </p>

    <p>IS Operations will be notified after you submit the form.  If you made an error, you can remove the XML file before it is processed using the "Review XML Objects" link in the nav bar.</p>
    <p>Please be aware that processing of XML files occurs on the hour.</p>

    <!-- </div> end of div body-article-->

</div><!--end of div body-content-->
