
@{
    ViewData["Title"] = "Queued User Removed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Queued User Removed</h2>

<hr />

<h4>The following XML file has been removed:</h4>

<br />

<p>@ViewData["DeletedFile"]</p>

<br />

<p>Please recreate the user object using the "New User Form" link in the navigation bar.</p>

<br />